:root{
    --color-main:rgb(255, 255, 255);
    --w-page:1050px;
}

body {
    background-color: #ffffff;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-family:'basic';
}

@font-face {
	font-family: "basic";
	font-style: normal;
	src: url(../font/NotoSansKR-Regular.ttf) format('truetype');
}

@font-face {
	font-family: "black";
	font-style: normal;
	src: url(../font/NotoSansKR-Black.ttf) format('truetype');
}

input, button, select, textarea{
    font-family: "basic";
}

header{
    width : 100%;
    height : 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

header > .inner{
    width:1050px;
    height:100%;
    background-color:var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "black";
}

header img.logo{
    height : 35%;
    margin-right: 0px;
}

header .menu-item{
    margin-left: 22px;
    color:#616161;
    font-weight:700;
    cursor:pointer;
}

header .menu-item:hover{
    color:#fff;
}

.top-container{
    width: 100%;
    height: 450px;
    background: red;
    position: relative;
}

.top-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-container .overlay-container{
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.4);
    position:absolute;
    top:0;
    left:0;
    color :#ffff;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section{
    width: 100%;
    padding:50px;

}

.section > .inner{
    width: var(--w-page);
    margin :0 auto;
    font-family: "basic";

}

.card-room{
    padding: 10px;
    box-sizing: border-box;
}

.my-card{
    width:100%;
    display: flex;
    flex-direction: column;
}


.my-card > img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 4px;
}

.my-card .t1{
    color:#000000;
    font-weight: 700;
    font-size:16px;
    margin-top: 10px;
}
.my-card .t2{
    color: #4e4e4e;
    font-weight: 700;
    font-size: 15px;
    margin-bottom:3px;


}
.my-card p{
    color:#7a7a7a;
    font-size: 13px;

}

.my-card button{
    background: #222;
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    border:1px solid #d6d6d6;
    border-radius: 4px;
    padding: 8px;
    cursor:pointer;

}

.my-card button > i {
    font-size: 13px;
    margin-right: 8px;

}

.my-card button:hover{
    background: #000;
}
