<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    메인페이지
    <div style="width: 300px; height: 200px; background-color: yellow; margin: top 100px; padding: 20px; box-sizing: border-box 1px ; border :solid black; border-radius: 20px; ">
        <div style="width: 200px; height: 60px; background-color: red; margin: left 50px;">
            <div style="width: 100px; height: 80px; background-color: blue; margin: left 50px right 50px;">

            </div>      
        </div>
    </div>
    <div style = "width: 300px; height: 200px; border: 1px solid black; margin: top 10px;">
        <div style = "background : blue;color :white;">div 1</div>
        <div style = "background : blue;color :white;">div 2</div>

        <span style = "background : red ;color :white; display : block;">span 1</span>
        <span style = "background : red ;color :white; display : block; ">span 2</span>
        
        <header></header>
        <main></main>
        <footer></footer>
        <nav></nav>
        <section></section>
        <article></article>
        <aside></aside> 

        
    </div>
        <img style = "width: 280px; object-fit: cover; border-radius: 140px;" src = "https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt = "google logo" />
        <br/>
        <input type = "text" placeholder = "Enter your name"/>
        <input type = "password"/>
        <input type = "number"/>
        <input type = "date"/>
        <input type = "file"/>

        <input type = "radio" name = "level" value = "상" />
        <span>상</span>
        <input type = "radio" name = "level" value = "중" />
        <span>중</span> 
        <input type = "radio" name = "level" value = "하" />
        <span>하</span> 


        <select>
            <option value = "상">상</option>
            <option value = "중">중</option>
            <option value = "하">하</option>
        </select>
        
        <input type = "checkbox" name = "level" value = "상" />
        <span>상</span>
        <input type = "checkbox" name = "level" value = "중" />
        <span>중</span> 
        <input type = "checkbox" name = "level" value = "하" />
        <span>하</span> 

        <textarea style="width: 300px; height: 200px; padding:4px; font-size: 20px; font-weight: 700;">안녕</textarea> 

        <button onclick = "location.href = 'http://127.0.0.1:5000/login'">회원가입</button>
        <button onclick = "location.href = 'http://127.0.0.1:5000/id-class'">아이디찾기</button>

        <a href = "http://127.0.0.1:5000/login">로그인</a>




</body>
</html>